<form method="post" action="{{ path('admin_event_delete', {id: event.id}) }}" onsubmit="return confirm('Sind Sie sicher, dass Sie diese Veranstaltung löschen möchten?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button type="submit" class="btn btn-danger" aria-label="Veranstaltung löschen" title="Veranstaltung löschen"><i class="fa-solid fa-trash" aria-hidden="true"></i> Löschen</button>
</form>