
###> symfony/framework-bundle ###
/.env.*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> ai/files ###
.claude/
.cursor/
.opencode/
.sisyphus/
###< ai/files ###

###> data/files ###
migration_data/
###< data/files ###