###> symfony/framework-bundle ###
/.env.*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> ai/files ###
.claude/
.cursor/
.opencode/
.sisyphus/
docs/superpowers/
###< ai/files ###

###> data/files ###
migration_data/
001-initial-dump.sql
###< data/files ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
