{% extends 'admin/layout.html.twig' %}

{% block title %}Neue Sportstätte - VSG Admin{% endblock %}

{% block content %}
    <div class="main-header">
        <h1>Neue Sportstätte</h1>
        <a href="{{ path('admin_location_index') }}" class="btn btn-secondary">Zurück</a>
    </div>

    <div class="card">
        {{ include('admin/location/_form.html.twig') }}
    </div>
{% endblock %}
