{% extends 'admin/layout.html.twig' %}

{% block title %}Neue Kategorie - VSG Admin{% endblock %}

{% block content %}
    <div class="main-header">
        <h1>Neue Kategorie</h1>
        <a href="{{ path('admin_category_index') }}" class="btn btn-secondary">Zurück</a>
    </div>

    <div class="card">
        {{ include('admin/category/_form.html.twig') }}
    </div>
{% endblock %}
